<!-- templates/base.html -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    {% load static %}
    <title>
      Bibliothèque |{% block title %}

      {% endblock %}
    </title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  </head>
  <body>
    <header class="d-flex align-self-center justify-content-between">
      <p>Logo</p>
      <p>Gestionnaire de bibliothèque</p>
      <a href="{% url 'seDeconnecter' %}" class="btn btn-danger">Se deconnecter</a>
    </header>
    <hr />
    <section class="row">
      <div class="card col-4">
        <h3>Toal livre</h3>
        <p>{{ total_livres }}</p>
        <p>{{ titres_differents }} titres différents</p>
      </div>
      <div class="card col-4">
        <h3>Adhérents</h3>
        <p>{{ total_adherents }}</p>
        <p>{{ membres_actifs }} membres actifs</p>
      </div>
      <div class="card col-4">
        <h3>Emprunts en cours</h3>
        <p>{{ emprunts_en_cours }} Non retounés</p>
      </div>
    </section>
    <hr />
    <nav>
      <ul class="d-flex gap-4">
        <li>
          <a href="{% url 'indexDashboard' %}">Statistiques</a>
        </li>
        <li>
          <a href="#">Adhérents</a>
        </li>
        <li>
          <a href="{% url 'listeEmprunt' %}">Emprunts</a>
        </li>
        <li>
          <a href="#">Livre</a>
        </li>
      </ul>
    </nav>
    <main class="container-fluid">
      {% block content %}
        <!-- Mitsofoka eto le template miheriter anty template de base ty -->
      {% endblock %}
    </main>

    <footer>
      <p>© 2026 Projet tutoré ASJA</p>
    </footer>
  </body>
</html>
